#lknWcCieloOrderLogs pre{
    padding: 10px;
    background-color: #D9D9D9 !important;
    width: fit-content;
    max-width: 96%;
    border-radius: 4px;
    margin: 0;
    white-space: pre-wrap;
    overflow-x: auto;
}

#lknWcCieloOrderLogs h3{
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

#lknWcCieloOrderLogs div{
    display: flex;
    gap: 6px;
    align-items: center;
}