#lkn_ccno {
    line-height: 1.6em;
}

#lkn_cc_expdate {
    line-height: 1.6em;
}

#lkn_cc_cvc {
    line-height: 1.6em;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.lknWcGatewayCieloInput{
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 8px 45px !important;
    line-height: 1.6em;
}