.shell {
    position: relative;
    line-height: 1;
}

.shell span {
    position: absolute;
    left: 3px;
    top: 8px;
    color: #ccc;
    pointer-events: none;
}

.shell span i {
    font-style: normal;
    /* any of these 3 will work */
    color: transparent;
    opacity: 0;
    visibility: hidden;
}

input.masked,
.shell span {
    font-size: 16px;
    font-family: monospace;
    padding-right: 10px;
    width: 100%;
    text-transform: uppercase;
}